<!DOCTYPE html>
 <html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <head>
        <title>SpaceWarRealism</title>
        <script src="/dist/app.bundle.js"></script>
    </head>
    <body>
        <div id="phaser-example" ></div>
        <div class="fk-main-container">
            <div class="fk-left-placeholder-panel">
            </div>
            <div class="fk-main-panel">
                <div id="vue-panel-editor-ship">
                    <div class="brush-panel fk-inverse-tabs fk-dark-tabs">
                        <el-tabs tab-position="bottom" type="border-card">
                            <el-tab-pane :label="tab.title" v-for="tab in ui.dataTabs" >
                                <div class="fk-row">
                                    <h2 class="fk-row no-user-select">{{ tab.title }}</h2>
                                </div>
                                <div class="fk-row">
                                </div>
                                <div class="fk-row">
                                    <el-slider v-model="out.dataBrushSize" 
                                        :min="1" :max="30">
                                    </el-slider>
                                </div>
                                <div class="fk-row">
                                </div>
                                <div class="fk-row">
                                    <el-radio-group
                                        name="dataBrushType"
                                        vertical
                                        :options="ui.dataRadioGroup"
                                        v-model="out.dataBrushType">
                                        <el-radio v-for="rb in ui.dataRadioGroup" :label="rb.value">{{rb.title}}</el-radio>
                                    </el-radio-group>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>