
// Window
body, html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

// Phaser Container
body {
	.fk-main-container {
        display: flex;
        margin-top: 30px;
        position: fixed; top: 0; width: 100%; 
        pointer-events: none;
        .fk-left-placeholder-panel {
            min-width: 270px;
        }
        .fk-main-panel {
            width: 100%; 
            pointer-events: auto;
            // .brush-panel {
            //     width: 20rem;
            // }
        }
        .el-dialog__wrapper {
            top: inherit;
            right: inherit;
            bottom: inherit;
            left: inherit;
            .el-dialog {
                margin-top: inherit !important;
                width: 20rem;
            }
        }
	}
    .v-modal {
        width: 0;
    }
}

// UI
.fk-main-container {
	.no-user-select {
		user-select: none;
	}
}