
// Requirement by Keen-UI library
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

h1,h2,h3,h4 {
    color: #606266;
}

.fk-row {
	margin-top: 5px;
    margin-bottom: 5px;
    min-height: 5px;
}