
.panel-edit-ship {    
    transform: scale(0.7);
    transform-origin: 0 0;
    width: 100%; 
    pointer-events: auto;
    .el-dialog__wrapper {
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        .el-dialog {
            margin-top: initial !important;
            width: 20rem;
        }
    }
    .v-modal {
        width: 0;
    }
}