
.panel-edit-ship {  
    position: fixed;
    transform: scale(0.7);
    transform-origin: 0 0;
    width: 100%; 
    pointer-events: auto;
    .el-dialog__wrapper {
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        .el-dialog {
            margin-top: initial !important;
            width: 20rem;
        }
    }
    .v-modal {
        width: 0;
    }
}

.panel-game-control {
    position: fixed;
    top: 235px;
    left: 100px;
    z-index: -1;
    
    transform: scale(0.7);
    transform-origin: 0 0;
    width: 100%; 
    pointer-events: auto;
}