
// Requirement by Keen-UI library
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

h1,h2,h3,h4 {
    color: #606266;
}

.el-dialog--center .el-dialog__body, .el-dialog__body {
	padding: 0;
}

.el-icon-arrow-right:before {
    content: ">";
}

.el-icon-arrow-left:before {
    content: "<";
}

.el-icon-close:before {
    content: "X";
}

.el-icon-edit:before {
    content: "Edit";
}